.textArea {
    resize: none;
    border-radius: 10px;
    border: 1px solid #B9B9B9;
    border-radius: 25px;
    padding: 25px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.textArea::placeholder {
    top: 0;
    font-family: 'Roboto', sans-serif;
    color: #B9B9B9;
    padding-left: 20px;
}