asgiref==3.7.2
beautifulsoup4==4.12.2
bs4==0.0.1
cffi==1.15.1
cryptography==41.0.2
Deprecated==1.2.14
Django==4.2.3
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
EbookLib==0.18
jwcrypto==1.5.0
lxml==4.9.3
Pillow==10.0.0
pycparser==2.21
python-dotenv==1.0.0
pytz==2023.3
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
tzdata==2023.3
wrapt==1.15.0
