.input {
    border: 1px solid #B9B9B9;
    border-radius: 25px;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

.input::placeholder {
    top: 0;
    font-family: 'Roboto', sans-serif;
    color: #B9B9B9;
    padding-left: 0px;
}