.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 66%;
    margin-bottom: 50px;
}

.navRows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3.3vw;
}

.navText {
    transition: .3s;
    text-decoration: none;
    color: #4D2900;
}

.navText:hover {
    cursor: pointer;
    color: #bc4e00;
}